<!DOCTYPE html>
<html>
<head>
 <title>Astrobotic's Interactive Lab</title>
  <%= stylesheet_link_tag 'main.css' %>	
	<%= render :partial => 'google_analytics.html.erb' %>
  <%= javascript_include_tag :all%>
  <%#= javascript_include_tag 'iobridge.js' %>
  <!--<script language="JavaScript" type="text/javascript" src="http://robotics.linksyscam.com/language.cgi"></script>
	<script language="JavaScript" type="text/javascript" src="http://robotics.linksyscam.com/stdlib.js"></script>
	<script language="JavaScript" type="text/javascript" src="http://robotics.linksyscam.com/message.cgi"></script>
	<script language="JavaScript" type="text/javascript" src="http://robotics.linksyscam.com/ver_activex.js"></script>-->
  <%= csrf_meta_tag %>
</head>
<body onLoad="init();" onbeforeunload="doStop(); " id="home">

<%= yield %>

</body>
</html>
